<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="STUDEntities" connectionString="metadata=res://*/StudentModel.csdl|res://*/StudentModel.ssdl|res://*/StudentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\Users\Lena\Temp\DB\STUD.mdf;Integrated Security=True;Connect Timeout=30&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>